@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/fraunces');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 1em;
    position: fixed;
    left: 35%;
    top: 5vh;
    padding-bottom: 4vh;
}

.perfume {
    font-family: 'Montserrat' 'sans serif';
    color: hsl(228, 12%, 48%);
    margin-top: 3vh;
    font-size: 1.2em;
}

.image {
    width: 40vh;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.titre {
    font-family: 'Fraunces', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.texte {
    margin-left: 5vh;
    font-family: 'Fraunces', sans-serif;
}

.para {
    margin-top: 1vh ;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: hsl(228, 12%, 48%);;
}

.price{
    position: relative;
    left: 45%;
    bottom: 3vh;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1.3em;
}

.lowprice {
    font-size: 2.5em;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    margin-top: 2vh;
}

.button {
    width: 35vh;
    height: 5vh;
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5em;
    position: relative;
    top: 1.5vh;
    right: 1vw;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.icon {
    border-color: white;
    margin-right: 1vh;
}

