@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap%27');

body {
    background-color: hsl(217, 54%, 11%);
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 1em;
    width: 330px;
    height: 540px;
}

.img-top {
    margin-top: 15px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.img-top img {
    display: block;
    width: 300px;
    border-radius: 0.5em;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
     border-radius: 0.5em;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: none;
    cursor: pointer;
    margin-left: 15px;
}

.img-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-top:hover .img-overlay {
    display: block;
}
.nom {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

.nom:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.description {
    margin-left: 15px;
    margin-top: 15px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

.eth {
    display: flex;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.nbr {
    margin-left: 10px;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
}

.days {
    margin-left: 105px;
}

.left {
    margin-left: 5px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

hr {
    width: 90%;
    border-color: hsl(215, 32%, 27%);
}

.creation {
    display: flex;
}

.avatar {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    margin-left: 15px;
    margin-top: 5px;
}

.id {
    margin-left: 65px;
    margin-top: -2.5vh;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}

span {
    color: hsl(0, 0%, 100%);
}

span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}